
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F0F0F0;">
    <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/djs2xizpt/image/upload/v1689842248/samples/confease_assests/qwert-_1_-1_acs4vw.png" style="width: 160px;"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      
       </div>
  </nav>
   
  
  
  <section style="background-color: #F0F0F0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <div class="image-overlay">
                    <img src="https://images.unsplash.com/photo-1581084243124-209fc8f93cf6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    <div class="overlay-content">
                      <h2 style="width: 108%;">The best platform
                        for Conferences</h2>
                      <p style="width: 104%;">This website is a platform for organizing and managing events. It
                        includes features like online registration, speaker and agenda
                        management, and communication tools.
                        This platform streamlines the organization of conferences and makes
                        it easier for organizers to deliver a successful event.
                        Don't have an account, please SignUp first!</p>
                        <button class="btn btn-primary" routerLink="/organization/signup">SignUp</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
                    <div class="form-outline mb-4">
                      <label class="form-label">Email:</label>
                      <input type="email" class="form-control" formControlName="email" />
                      <div *ngIf="focus['email'].touched && focus['email'].invalid" class="error-message">
                        <div *ngIf="focus['email'].errors?.['required']">Email is required</div>
                        <div *ngIf="focus['email'].errors?.['email']">Invalid email format</div>
                      </div>
                    </div>
    
                    <div class="form-outline mb-4">
                      <label class="form-label">Password:</label>
                      <input type="password" class="form-control" formControlName="password" />
                      <div *ngIf="focus['password'].touched && focus['password'].invalid" class="error-message">
                        <div *ngIf="focus['password'].errors?.['required']">Password is required</div>
                      </div>
                    </div>
    
                    
    
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>

                    <div *ngIf="errorms" class="alert alert-danger">{{errorms}}</div>

    
                    <a class="small text-muted" href="#!">Forgot password?</a>
    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>