<div class="col-lg-3 col-md-4">
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Theme and colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/organization/conf-committe/{{conferenceId}}">Committee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Payments</a>
        </li>
      </ul>
    </div>
  </div>