<app-conf-nav></app-conf-nav>


<div class="banner">
    <h1>{{conference.name}}</h1>
    <p>{{conference.startDate |date:'longDate'}}</p>
    <a  routerLink="/conference/{{conferenceId}}/register" class="btn btn-primary">Register</a>
    
  </div>



  <div class="container">
    <h2>Welcome </h2>
    <p>The organizing committee is happy to welcome you to our new event website! Here you will find more information about the objectives of the event, the speakers, and the schedule.</p>

    <p>You will also be able to explore the content and see the list of participants. You can also register, pay the registration costs, and submit an abstract directly through this website.</p>

    <h2>Objectives</h2>
    <ul>
      <li>Objective #1</li>
      <li>Objective #2</li>
      <li>Objective #3</li>
      <li>Objective #4</li>
    </ul>

    <h2>Location</h2>
    <p>No location</p>

    <h2>Registration period</h2>
    <p>June 16, 2023 - 10:14 until June 30, 2023 - 03:30</p>

    <h2>Submission period</h2>
    <p>June 16, 2023 - 10:14 until June 30, 2023 - 03:30</p>

    <h2>Contact us</h2>
    <p>For any questions about the event, please contact <a href="mailto:amalabraham93@gmail.com">amalabraham93@gmail.com</a></p>
  </div>