<app-conf-nav></app-conf-nav>

<div class="banner">
  <h2>Schedule Conferences</h2>
</div>

<!-- Add Session Button -->
<div class="add-session-button m-5">
  <button class="btn btn-primary" (click)="open(demoModal)">Add Session</button>
</div>

<!-- Schedule Table -->
<div class="schedule-table">
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Author Name</th>
        <th>Paper Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of conferenceSessions">
        <td>{{ session.date | date :'d/M/yyyy' }}</td>
        <td>{{ session.time }}</td>
        <td>{{ session.authorName }}</td>
        <td>{{ session.paperName }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Session Modal -->
<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add Session</h5>
    <button type="button" class="close" (click)="closeAddSessionModal(modal)">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newSessionForm" (ngSubmit)="addSession(modal)">
      <div class="form-group">
        <label for="date">Date</label>
        <select class="form-control" id="date" formControlName="date" [(ngModel)]="selectedDate">
          <option value="">Select Date</option>
          <option *ngFor="let date of availableDates" [value]="date">{{ date | date :'d/M/yyyy' }}</option>
        </select>
        <div *ngIf="formSubmitted && newSessionForm.get('date')!.invalid" class="text-danger">
          Date is required.
        </div>
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <select class="form-control" id="time" formControlName="time" [(ngModel)]="selectedTime">
          <option value="">Select Time</option>
          <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
        </select>
        <div *ngIf="formSubmitted && newSessionForm.get('time')!.invalid" class="text-danger">
          Time is required.
        </div>
        <div *ngIf="formSubmitted && !isWithinTimeLimit()" class="text-danger">
          Session time exceeds the conference time limit.
        </div>
      </div>
      <div class="form-group">
        <label for="authorName">Author Name</label>
        <select class="form-control" id="authorName" formControlName="authorName">
          <option value="">Select Author Name</option>
          <option *ngFor="let author of getUniqueAuthors()" [value]="author">{{ author }}</option>
        </select>
        <div *ngIf="formSubmitted && newSessionForm.get('authorName')!.invalid" class="text-danger">
          Author Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="paperName">Paper Name</label>
        <input type="text" class="form-control" id="paperName" formControlName="paperName"
          [value]="getPaperTitleByAuthor(newSessionForm.get('authorName')!.value)">
        <div *ngIf="formSubmitted && newSessionForm.get('paperName')!.invalid" class="text-danger">
          Paper Name is required.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAddSessionModal(modal)">Cancel</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</ng-template>
