body{
    background-color: aliceblue;
}

.rounded-pill {
    border-radius: 50rem!important;
  }
  
  .mt-auto {
    margin-top: auto!important;
  }
  
  .border {
    border: 1px solid #dee2e6!important;
  }
  
  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  
  .form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
  }
  
  [type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
  }
  
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  