<app-conf-nav></app-conf-nav>


<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Event Schedule</h3>
				</div>
				<!-- <ol class="breadcrumb p-0 m-0">
				  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
				  <li class="breadcrumb-item active">Event Schedule</li>
				</ol> -->
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--==============================
=            Schedule            =
===============================-->

<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Event <span class="alternate">Schedule</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore</p>
				</div>
			</div>
		</div>
		<mat-tab-group>
			<mat-tab label="Day-01">
			  <ng-template matTabContent>
				<!-- Day-01 Content -->
				<table class="schedule-table">
				  <thead>
					<tr>
					  <th>Time</th>
					  <th>Speaker</th>
					  <th>Subject</th>
					</tr>
				  </thead>
				  <tbody>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">9.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-five.jpg" alt="speaker-thumb-one">
						  <span class="name">Samanta Doe</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Introduction to Wp</div>
					  </td>
					</tr>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">10.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-five.jpg" alt="speaker-thumb-two">
						  <span class="name">Zerad Pawel</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Principle of Wp</div>
					  </td>
					</tr>
					<!-- Other schedule details for Day-01 -->
				  </tbody>
				</table>
			  </ng-template>
			</mat-tab>
		  
			<mat-tab label="Day-02">
			  <ng-template matTabContent>
				<!-- Day-02 Content -->
				<table class="schedule-table">
				  <thead>
					<tr>
					  <th>Time</th>
					  <th>Speaker</th>
					  <th>Subject</th>
					</tr>
				  </thead>
				  <tbody>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">9.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-five.jpg" alt="speaker-thumb-one">
						  <span class="name">Samanta Doe</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Introduction to Wp</div>
					  </td>
					</tr>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">10.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-five.jpg" alt="speaker-thumb-two">
						  <span class="name">Zerad Pawel</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Principle of Wp</div>
					  </td>
					</tr>
					<!-- Other schedule details for Day-02 -->
				  </tbody>
				</table>
			  </ng-template>
			</mat-tab>
		  
			<mat-tab label="Day-03">
			  <ng-template matTabContent>
				<!-- Day-03 Content -->
				<table class="schedule-table">
				  <thead>
					<tr>
					  <th>Time</th>
					  <th>Speaker</th>
					  <th>Subject</th>
					  <!-- <th>Venue</th> -->
					</tr>
				  </thead>
				  <tbody>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">9.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-one.jpg" alt="speaker-thumb-one">
						  <span class="name">Samanta Doe</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Introduction to Wp</div>
					  </td>
					  <!-- <td>
						<div class="venue">Auditorium A</div>
					  </td> -->
					</tr>
					<!-- Schedule Details -->
					<tr class="schedule-details">
					  <td>
						<div class="time">
						  <i class="fa fa-clock-o"></i>
						  <span class="time">10.00 AM</span>
						</div>
					  </td>
					  <td>
						<div class="speaker">
						  <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-two.jpg" alt="speaker-thumb-two">
						  <span class="name">Zerad Pawel</span>
						</div>
					  </td>
					  <td>
						<div class="subject">Principle of Wp</div>
					  </td>
					  <!-- <td>
						<div class="venue">Auditorium B</div>
					  </td> -->
					</tr>
					<!-- Other schedule details for Day-03 -->
				  </tbody>
				</table>
			  </ng-template>
			</mat-tab>
		  </mat-tab-group>
		  
		  
	</div>
</section>

<!--====  End of Schedule  ====-->
