<app-conf-nav></app-conf-nav>

<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          <h3>Event Schedule</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====  End of Page Title  ====-->

<!--==============================
=            Schedule            =
===============================-->

<section class="section schedule">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3>Event <span class="alternate">Schedule</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt ut labore</p>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab *ngFor="let day of conferences.schedule" [label]="''+ (day.date |date:'mediumDate')">
        <ng-template matTabContent>
          <!-- Day Content -->
          <table class="schedule-table">
            <thead>
              <tr>
                <th>Time</th>
                <th>Speaker</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let session of day.sessions">
                <td>
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <span class="time">{{ session.time }}</span>
                  </div>
                </td>
                <td>
                  <div class="speaker">
                    <img src="https://themewagon.github.io/eventre/images/speakers/speaker-thumb-two.jpg" alt="speaker-thumb-two">
                    <span class="name">{{ session.authorName }}</span>
                  </div>
                </td>
                <td>
                  <div class="subject">{{ session.paperName }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>

<!--====  End of Schedule  ====-->
