<nav class="navbar navbar-expand-lg " style="width: 1519px; position: fixed; top: 0px; background-color: aliceblue;">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            Conference Name
        </a>

        <a href="ticket.html" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll active" href="#section_1">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll inactive" href="#section_2">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll inactive" href="#section_3">Submission</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll inactive" href="#section_4">Schedule</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll inactive" href="#section_5">Participants</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll inactive" href="#section_6">Presentation</a>
                </li>
            </ul>

            <a href="ticket.html" class="btn custom-btn d-lg-block d-none">Buy Ticket</a>
        </div>
    </div>
</nav>