<app-user-nav></app-user-nav>
<div class="mt-5">
  <div class="col-md-12">
    <h1 class="fw-bold text-center mb-auto">My Conferences</h1>
  </div>
</div>



<div class="container-fluid m-5">
  <input type="text" class="form-control mb-3 search-input" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="filterTable()">

<ngx-datatable
class="bootstrap"
[rows]="myConference"
[columns]="columns"
[columnMode]="'force'"
[headerHeight]="50"
[rowHeight]="'auto'"
[footerHeight]="0"
[selectionType]="SelectionType.single"
[selected]="selectedConference"
(activate)="onActivate($event)">


  <ngx-datatable-column name="Name" class="mt-3">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Paper Submitted">
    <ng-template ngx-datatable-cell-template let-row="row">
      {{row.isPaperSubmitted}}
      <span *ngIf="row.isPaperSubmitted">Submitted</span>
      <span *ngIf="!row.isPaperSubmitted">Not Submitted</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="startDate">
    <ng-template ngx-datatable-cell-template let-value="value">
      {{ value | date: 'longDate' }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Action">
    <ng-template ngx-datatable-cell-template let-row="row">
      <button class="btn btn-primary" (click)="navigateToConferenceHome(row._id)">
        <i class="bi bi-eye"></i> View
      </button>
    </ng-template>
  </ngx-datatable-column>

<!-- <div class="container-fluid m-5">
  <table class="table">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conference of myConference">
        <td></td>
        <td>{{ conference.name }}</td>
        <td>{{ conference.startDate | date: 'longDate' }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div> -->
