<app-conf-nav></app-conf-nav>

<div class="container-fluid">
  <div class="d-flex">
    <!-- Sidebar -->
    <app-conf-sidebar-config class="me-4"></app-conf-sidebar-config>

    <div class="col-lg-9 col-md-8 mt-4">
      <div class="main-content">
        <form [formGroup]="conferenceForm" (ngSubmit)="submitForm()">
          <div class="card">
            <div class="card-header">
              Information
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="eventName" class="form-label">Event name</label>
                <input type="text" class="form-control" id="eventName" formControlName="eventName">
                <div *ngIf="formSubmitted && conferenceForm.get('eventName')?.invalid" class="text-danger">
                  Event name is required.
                </div>
              </div>
              <!-- Other form fields -->
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">
              Dates
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label for="startDate" class="form-label">Start date</label>
                    <input type="date" class="form-control" id="startDate" formControlName="startDate">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="startTime" class="form-label">Time</label>
                    <input type="time" class="form-control" id="startTime" formControlName="startTime">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="endDate" class="form-label">End date</label>
                    <input type="date" class="form-control" id="endDate" formControlName="endDate">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label for="endTime" class="form-label">Time</label>
                    <input type="time" class="form-control" id="endTime" formControlName="endTime">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mt-4">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
